/* adapter la résolution aux écrans inférieurs à 1024px */

#bloc_page {
	/* largeur automatique au lieu de fixée à 900px */
	width: auto;
    }
	
#banniere_image {
	/* display : n'affichera pas le bloc pour afficher la banière */
	display: none;
	/* visibility : n'affichera pas la banière mais la zone d'affichage de l'image sera présent  */	
	/*  visibility: hidden;  */	
}

#fleche_bulle {
    position: absolute;
    top: -12px;
    left: 100px;
	transform: rotate(90deg)
}

nav {
	width: auto;
	text-align: left;
    }
    
nav ul {
	flex-direction: column;
    }

nav li {
	padding-left: 4px;
    }
    
nav a {
	font-size: 1.1em;
    }
    
nav a:hover {
	border-bottom: 0;
    }

section {
	display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}	


    article, aside  {
	width: auto;
	margin-bottom: 15px;
    }
	
aside {
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
	margin: auto;
}

#photo_zozor img {
    width: 110px;
    float: right;
    margin-left: 15px;
    }
 
footer h1 {
    font-size: 0.9em;
	text-align: center;
	font-family: 2Dumb, Impact, "Arial Black", Arial, sans-serif;
}  
 
footer p {
    font-size: 0.8em;
}  
#tweet {
    width: 25%;
	padding-left: 10px;
	background: #663300;
}

#mes_photos {
    width: 51%;
	background: #663300;
}

#mes_amis {
    width: 15%;
	padding-left: 15px;
	background: #663300;
	padding-right: 10px;
}

#listes_amis {
    flex-direction: column;
}
 
#mes_amis a {
    font-size: 0.9em;
    flex-direction: column;
}   
 