/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Eléments principaux de la page */

body {
  background: url('../images/fond_jaune.png');
  font-family: 'Montserrat', sans-serif;
  color: #0c0c0c;
}

#bloc_page {
  width: 900px;
  margin: auto;
}

section h1,
footer h1,
nav a {  
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

/* Header */

header {
  background: url('../images/separateur.png') repeat-x bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Effet de point qui défille sur le séparateur du Header */
header::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 3px;
  bottom: 0px;
  z-index: 99;
  background: rgb(250, 249, 249);
  animation: moving 6s infinite linear;
  animation-direction: alternate;
}

@keyframes moving {
  0% {
    opacity: 0.13;
    left: 2%;
  }
  10% {
    opacity: 1;
    left: 10%;
  }
  90% {
    opacity: 1;
    left: 90%;
  }
  100% {
    opacity: 0.13;
    left: 100%;
  }
}

/* Effet pulsé sous le logo */
.pulse-anim {
  border-radius: 50%;
  background: transparent;
  padding: 5px;
  /* box-shadow: 0 0 0 0 rgb(158, 157, 157); */
  box-shadow: inset 0 0 0 0 rgb(218, 216, 216);
  animation: pulse 1.8s infinite;
}

@keyframes pulse {
  to {
    /* box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.01); */
    box-shadow: inset 0 0 0 100px rgba(218, 216, 216, 0.01);
  }
}

#titre_principal {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#logo_principal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo_principal img {
  width: 90px;
  height: 70px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: normal;
  margin: 0 0 0 10px;
}

h1 span {
  animation: flash 10s infinite linear 2s;
}

@keyframes flash {
  0% {
    color: #030303;
    text-shadow: none;
  }

  60% {
    color: transparent;
    text-shadow: none;
  }

  100% {
    color: transparent;
    text-shadow: 0 0 8px #fff900, 0 0 15px #ff6c00;
    /* text-shadow: 0 0 8px #5a5a5a, 0 0 15px #242424; */
  }
}

h1 span:nth-child(1),
h1 span:nth-child(26) {
  animation-delay: 0.1s;
}

h1 span:nth-child(2),
h1 span:nth-child(25) {
  animation-delay: 0.2s;
}

h1 span:nth-child(3),
h1 span:nth-child(24) {
  animation-delay: 0.3s;
}

h1 span:nth-child(4),
h1 span:nth-child(23) {
  animation-delay: 0.4s;
}

h1 span:nth-child(5),
h1 span:nth-child(22) {
  animation-delay: 0.5s;
}

h1 span:nth-child(6),
h1 span:nth-child(21) {
  animation-delay: 0.6s;
}

h1 span:nth-child(7),
h1 span:nth-child(20) {
  animation-delay: 0.7s;
}

h1 span:nth-child(8),
h1 span:nth-child(19) {
  animation-delay: 0.8s;
}

h1 span:nth-child(9),
h1 span:nth-child(18) {
  animation-delay: 0.9s;
}

h1 span:nth-child(10),
h1 span:nth-child(17) {
  animation-delay: 1s;
}

h1 span:nth-child(11),
h1 span:nth-child(16) {
  animation-delay: 1.1s;
}

h1 span:nth-child(12),
h1 span:nth-child(15) {
  animation-delay: 1.2s;
}

h1 span:nth-child(13),
h1 span:nth-child(14) {
  animation-delay: 1.3s;
}


header h2 {  
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}

/* Navigation */

nav ul {
  list-style-type: none;
  display: flex;
  padding-left: 10px;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image {
  margin-top: 15px;
  height: 200px;
  border-radius: 5px;
  background: url('../images/sanfrancisco.jpg') no-repeat;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 25px;
}

#banniere_description {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
  width: 99.5%;
  height: 33px;
  padding-top: 15px;
  padding-left: 4px;
  background-color: rgba(24, 24, 24, 0.8);
  color: white;
  font-size: 0.8em;
}

.bouton_rouge {
  height: 25px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: url('../images/fond_degraderouge.png') repeat-x;
  border: 1px solid #760001;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  padding: 3px 8px 0px 8px;
  color: white;
  text-decoration: none;
}

.bouton_rouge img {
  border: 0;
}

/* Corps */

section {
  display: flex;
  margin-bottom: 20px;
}

article,
aside {
  text-align: justify;
}

article {
  margin-right: 20px;
  flex: 3;
}

.ico_categorie {
  vertical-align: middle;
  margin-right: 8px;
}

article p {
  font-size: 0.8em;
}

aside {
  flex: 1.2;
  position: relative;
  background-color: #706b64;
  box-shadow: 0px 2px 5px #1c1a19;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 0.9em;
}

#fleche_bulle {
  position: absolute;
  top: 80px;
  left: -12px;
}

#photo_zozor {
  text-align: center;
  margin: 0 auto;
  width: 130px;
  height: 116px;
  border: 1px solid #181818;
  background: url('../images/zozor_1.png') no-repeat center;
  /* -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear; */
  animation: close-eyes 6s ease-in 2s infinite reverse both;
}

#photo_zozor:hover {
  background: url('../images/zozor_12.png') no-repeat center;
  border-radius: 20px;
}

@keyframes close-eyes {
  0% {
    background: url('../images/zozor_1.png') no-repeat center;
  } 
  1% {
    background: url('../images/zozor_2.png') no-repeat center;
  }
  2% {
    background: url('../images/zozor_3.png') no-repeat center;
  }
  3% {
    background: url('../images/zozor_2.png') no-repeat center;
  } 
  4% {
    background: url('../images/zozor_1.png') no-repeat center;
  }
 

}

@keyframes stick-out {
  0% {
    background: url('../images/zozor_1.png') no-repeat center;
  } 
  50% {
    background: url('../images/zozor_10.png') no-repeat center;
  }
  100% {
    background: url('../images/zozor_11.png') no-repeat center;
  }
}


.liens_externes {
  display: flex;
  justify-content: center;
}

aside img {
  margin-right: 5px;
}

aside h1 {
  text-align: center;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  background: url('../images/ico_top.png') no-repeat top center,
    url('./images/separateur.png') repeat-x top,
    url('./images/ombre.png') repeat-x top;
  padding-top: 15px;
  background: #663300;
  color: #ffffff;
  opacity: 0;
  animation: move-up 2s 300ms both; 
}

/* Pour faire apparaitre les éléments en montant et avec augmentatation de l'opacité */
@keyframes move-up {
  0% {
    transform: translateY(120px);
    opacity: 0;
  } 

  70%  {
    transform: translateY(0);      
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

footer p,
footer ul {
  font-size: 0.8em;
}

footer h1 {
  font-size: 1.9rem;
  line-height: 2.0rem;
  text-align: center;
}

#tweet {
  width: 25%;
  padding-left: 10px;
  background: #663300;
}

#mes_photos {
  width: 37%;
  padding-left: 10px;
  background: #663300;
}

#mes_amis {
  width: 30%;
  padding-left: 15px;
  background: #663300;
  padding-right: 10px;
}

#mes_photos img {
  border: 1px solid #ffffff;
  margin-right: 2px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

#mes_photos img:hover {
  -ms-transform: scale(1.2) translateY(-5px); /* IE 9 */
  -webkit-transform: scale(1.2) translateY(-5px); /* Safari 3-8 */
  transform: scale(1.2) translateY(-5px);
}

/* Ajout / retire filtre Noir et blanc sur images  */
.grayscale img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.grayscale img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#listes_amis {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

#mes_amis ul {
  list-style-image: url('../images/ico_liensexterne_jaune.png');
  padding-left: 2px;
}

#mes_amis a {
  text-decoration: none;
  color: #ffffcc;
}

/*  **********************************  */
/*    Media query : max-width: 1024px    */
/*  **********************************  */
@media screen and (max-width: 1024px) {   
  h1 {
    font-size: 1.5rem;    
    line-height: 1.7rem;
    text-align: center;
  }

  #bloc_page {
    /* largeur automatique au lieu de fixée à 900px */
    width: auto;
      }
    
  #banniere_image {
    /* display : n'affichera pas le bloc pour afficher la banière */
    display: none;
    /* visibility : n'affichera pas la banière mais la zone d'affichage de l'image sera présent  */	
    /*  visibility: hidden;  */	
  }

  #fleche_bulle {
      position: absolute;
      top: -12px;
      left: 100px;
    transform: rotate(90deg)
  }

  nav {
    width: auto;
    text-align: left;
      }
      
  nav ul {
    flex-direction: column;
      }

  nav li {
    padding-left: 4px;
      }
      
  nav a {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
  }
      
  nav a:hover {
    border-bottom: 0;
      }

  section {
    display: flex;
      margin-bottom: 20px;
      flex-direction: column;
  }	


      article, aside  {
    width: auto;
    margin-bottom: 15px;
      }
    
  aside {
      flex: 1.2;
      position: relative;
      background-color: #706b64;
      box-shadow: 0px 2px 5px #1c1a19;
      border-radius: 5px;
      padding: 10px;
      color: white;
      font-size: 0.9em;
    margin: auto;
  }

  #photo_zozor img {
      width: 110px;
      float: right;
      margin-left: 15px;
      }
  
  footer h1 {
      font-size: 0.9em;
      margin: 0 0 0 10px;
  }  
  
  footer p {
      font-size: 0.8em;
  }  
  #tweet {
      width: 25%;
    padding-left: 10px;
    background: #663300;
  }

  #mes_photos {
      width: 51%;
    background: #663300;
  }

  #mes_amis {
      width: 15%;
    padding-left: 15px;
    background: #663300;
    padding-right: 10px;
  }

  #listes_amis {
      flex-direction: column;
  }
  
  #mes_amis a {
      font-size: 0.9em;
      flex-direction: column;
  }   

}


/*  **********************************  */
/*    Media query : max-width: 640px    */
/*  **********************************  */
@media (max-width: 640px) { 
  h1 {
    font-size: 1.5em;    
    line-height: 1.8rem;
  }
  
  nav ul {
    padding-left: 5px;
  }
        
  nav a {
    font-size: 0.8rem;
    line-height: 1.0rem;
  }
}