.a-propos-main {
  margin: auto;
}

.competences {
  border-right: 1px solid #a5b4fc;
  border-bottom: 1px solid #a5b4fc;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}

.competences + div {
  text-align: center;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 30px;
}

ul {
  margin-top: 30px;
}

table {
  color: white;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #a5b4fc;
}

th {
  padding: 15px;
}

td {
  padding: 80px;
}

thead th {
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {   
  .competences {
	padding: 30px;
	width: 70%;
  }
  
  h1,
  h2 {
    margin-bottom: 50px;
    margin-top: 15px;
  }
  
  th {
    padding: 5px;
  }
  td {
    padding: 40px;
  }
}
